
@{
    ViewBag.Title = "Ошибка прав";
}
<div class="container">
    <div class="row justify-content-center">
        <h2 style="color:red;font-weight:bold">В доступе отказано. Отсуствуют требуемые права</h2>
    </div>
</div>


