
@{
    ViewBag.Title = "Ошибка прав";
}
<link href="~/Content/PageStyles.css" rel="stylesheet" />


<div class="row justify-content-center">
    <h2 style="color:red">В доступе отказано. Отсуствуют требуемые права</h2>
</div>

