<log4net>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="D:\Project\Epam_Project\Special_Insulator\Special_Insulator.WEB\Logs\logs.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <appendToFile value="true" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level [%method] - %message%newline" />
    </layout>
  </appender>
  <logger name="MyLogger">
    <level value="All"/>
    <appender-ref ref="file"/>
  </logger>
</log4net>﻿
