
@{
    ViewBag.Title = "Главная";
}
<div class="container" style="margin-top:10px">
<p >Специализированные изоляторы предназначенны для содержания лиц, в отношении которых применено административное задержание за появление в общественном месте в состояниии алкогольного опьяненя, оскорбляющем человеческое достоинство и нравственность, а также за совершение в состоянии алкогольного опьянения административных правонарушений, за которые может быть наложено административное взыскание в виде административного ареста, до их вытрезвления.</p>
<p>Специализированный изолятор осуществляет свою деятельность в соответствии с Конституцией Республики Беларусь, декретами и указами Президента Республики Беларусь, законами Республики Беларусь, иными актами законодательства Республики Беларусь.</p>
<p>В настоящее время размер возмещения расходов на содержание лиц, помещенных в специализированный изолятор органа внутренних дел составляет 2,5 базовой величины (п.1.1 Постановления Совета Министров Республики Беларусь от 14.11.2013 № 977). </p>
</div>

